<h1>Uuden käyttäjän tiedot</h1>
<p class="description"> yolk toimii pienimuotoisesti, ja kaikki käyttäjät hyväksytään erikseen. Jos olet kiinnostunut käyttäjäksi ryhtymisestä, kannattaa myös laittaa sähköpostia,
  jotta osaan hyväksyä sinut!
<%= form_for(@user) do |f| %>
 <%= render 'form', :f => f %>
  <div class="action">
    <%= f.submit%>
  </div>
</p>
<% end %>
