
<p class="description">yolk on syntynyt harjoitustyönä Helsingin yliopiston tietojenkäsittelytieteen laitokselle. <br />
  Halutessasi voit lähettää tekijälle sähköpostia tästä  <%= mail_to "satu.salekari@helsinki.fi", " linkistä.", :encode => "hex"%> <br />
</p>


