<div class="footer nav">
  <footer>
    <nav>
      <ul>
        <li><%= link_to "Koti", root_path%> |</li>
        <li><%= link_to "Ota yhteyttä", contact_path %> |</li>
        <li><%= link_to "Yliopistoliikunta", "http://yliopistoliikunta.helsinki.fi/yol/web/fi/event/listEvents.do?shortcutSportId=825079"%>  </li>
      </ul>
    </nav>
  </footer>
</div>