
<nav class="signin_button">
  <div>
    <% if signed_in? %>
      <%= link_to "Kirjaudu ulos", signout_path(:method => :delete) %>
    <% else %>
      <%= link_to "Kirjaudu sisään", signin_path %>
    <% end %>
  </div>
</nav>
